.wrapper
{
    width: 1200px;
    margin: 10px auto;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 500px);
    
}

.item
{
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 10px;
}

.product_image
{
    width: 380px;
    height: 300px;
}

.title
{
    text-align: center;
    width: 100%;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

.new_comment_form textarea
{
    width: 1000px;
    height: 300px;
}

.admin-forms
{
    display: flex;
}